date
echo "Slurm Job ID: ${SLURM_JOB_ID}"

export     build_path=<<<build_path>>>
export install_prefix=<<<install_prefix>>>
export       compiler=<<<compiler>>>
export            mpi=<<<mpi>>>
export    lmp_version=<<<version>>>

ml reset
ml compiler
ml mpi
ml

mkdir -p ${build_path} && cd ${build_path}

wget https://lammps.sandia.gov/tars/lammps-stable.tar.gz
tar -xf lammps-stable.tar.gz && rm lammps-stable.tar.gz

cd lammps-*
