
export  MPICC=<<<mpicc>>>
export MPICXX=<<<mpicxx>>>
export MPIF90=<<<mpif90>>>
export     CC=<<<cc>>>
export    CXX=<<<cxx>>>
export     FC=<<<fc>>>
export    F77=<<<f77>>>
export    F90=<<<f90>>>

