#!/bin/bash
#SBATCH -J <<<job_label>>>
#SBATCH -o <<<working_path>>>/<<<job_label>>>.o%j
#SBATCH -e <<<working_path>>>/<<<job_label>>>.e%j
#SBATCH -p <<<queue>>>
#SBATCH -t <<<runtime>>>
#SBATCH -N <<<ranks>>>
#SBATCH -n <<<threads>>>
#SBATCH -A <<<account>>>
