#!/bin/bash
#SBATCH -J <<<job_label>>>
#SBATCH -o <<<working_path>>>/<<<job_label>>>.out
#SBATCH -e <<<working_path>>>/<<<job_label>>>.err
#SBATCH -p <<<queue>>>
#SBATCH -t <<<runtime>>>
#SBATCH -N <<<nodes>>>
#SBATCH -n <<<ranks>>>
#SBATCH -A <<<account>>>
